
<article class="block container">
    <div class="block-container">
        @if (BlockItem.Title != "")
        {
            <div class="block-text-container">
                <h1 class="block-title">@BlockItem.Title</h1>

                @if (!string.IsNullOrEmpty(BlockItem.SubTitle))
                {
                    <h2 class="block-subtitle">@BlockItem.SubTitle</h2>
                }

                @if (!string.IsNullOrEmpty(BlockItem.Description))
                {
                    <p class="block-description">@BlockItem.Description</p>
                }
            </div>

            @if (BlockItem.Type == BlockType.Card)
            {
                <img class="block-image" src="@BlockItem.ImageUrl" />
            }
        }
    </div>
</article>


@code {
    [Parameter]
    public BlockModel BlockItem { get; set; } = new BlockModel();

}
