
<a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    Modules
</a>
<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
    <li><a class="dropdown-item" href="/Manage">Management</a></li>
    <li><a class="dropdown-item" href="/SwissLDP">Swiss LDP</a></li>
    <li><a class="dropdown-item" href="/SwissLDP/Event/Index">Swiss LDP Events</a></li>
    <li><a class="dropdown-item" href="/Finance">Finance</a></li>
    <li><a class="dropdown-item" href="/Finance/Accounting/Index">Finance Accounting</a></li>
    <li><a class="dropdown-item" href="/Identity/Register/Index">Register</a></li>
    <li><a class="dropdown-item" href="/Identity/Auth/Index">Login</a></li>
</ul>