<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/6ab1fd68-9d40-40f0-a46d-18fa4ed2fd1c/resourceGroups/opendhs_group/providers/Microsoft.Web/sites/opencrm</ResourceId>
    <ResourceGroup>opendhs_group</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://opencrm.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>0d8fd3d3-6634-4b99-b187-d0a0cd3f330c</ProjectGuid>
    <PublishUrl>https://opencrm.scm.azurewebsites.net/</PublishUrl>
    <UserName>$opencrm</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>