@page
@model OpenCRM.Core.Web.Areas.Manage.Pages.Languages.DeleteModel
@{
    ViewData["Title"] = "Delete";
}

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="card border-1 rounded-lg p-0">
            <div class="card-header text-center">
                <h3 class="font-weight-light my-4">Delete</h3>
                <h4>Are you sure you want to delete this?</h4>
            </div>
            <div class="card-body">
                <form>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-floating mb-3">
                        <input asp-for="Language.Code" class="form-control" readonly />
                        <label asp-for="Language.Code" class="control-label"></label>
                        <span asp-validation-for="Language.Code" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Language.Name" class="form-control" readonly />
                        <label asp-for="Language.Name" class="control-label"></label>
                        <span asp-validation-for="Language.Name" class="text-danger"></span>
                    </div>                   
                </form>
                <form method="post">
                    <input type="hidden" asp-for="Language.ID" />
                    <div class="mt-4 mb-0">
                        <div class="d-grid">
                            <input type="submit" value="Delete" class="btn btn-danger" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
