@page
@model OpenCRM.SwissLPD.Areas.SwissLDP.Pages.Event.DetailsModel
@{
	ViewData["Title"] = "Details";
    Layout = "_CoreLayout";
}

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="card border-1 rounded-lg p-0">
            <div class="card-header"><h3 class="font-weight-light my-4 text-center">Details</h3></div>
            <div class="card-body">
                <form>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-floating mb-3">
                        <input asp-for="Model.Data.Description" class="form-control" readonly/>
                        <label asp-for="Model.Data.Description" class="control-label"></label>
                        <span asp-validation-for="Model.Data.Description" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Model.Data.StartDate" class="form-control" readonly />
                        <label asp-for="Model.Data.StartDate" class="control-label"></label>
                        <span asp-validation-for="Model.Data.StartDate" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Model.Data.EndDate" class="form-control" readonly />
                        <label asp-for="Model.Data.EndDate" class="control-label"></label>
                        <span asp-validation-for="Model.Data.EndDate" class="text-danger"></span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
