@page
@model OpenCRM.Core.Web.Areas.Manage.Pages.IndexModel
@{   
    ViewData["Title"] = "Manage Page";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>OpenCRM Core Web Management Module</title>
</head>
<body>
    <component type="typeof(OpenCRM.Core.Web.Components.BreadCrumb)" render-mode="ServerPrerendered" param-links="Model.Links" />
</body>
</html>
