@page
@model OpenCRM.Core.Web.Areas.Manage.Pages.IndexModel
@{   
    ViewData["Title"] = "Manage Page";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>OpenCRM Core Web Management Module</title>
</head>
<body>
    <div class="container-fluid">
        <h1>OpenCRM - Management</h1>
    </div>
</body>
</html>
