@page
@model OpenCRM.Finance.MyFeature.Pages.Page1Model

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>OpenCRM Finance Module</title>
</head>
<body>
    <h1>Implement finance module here</h1>
    <component type="typeof(OpenCRM.Core.Web.Components.BreadCrumb)" render-mode="ServerPrerendered" param-links="Model.Links" />
</body>
</html>
