@page
@model OpenCRM.Core.Web.Pages.Identity.Manage.IndexModel

@{
    Layout = "_CoreEmptyLayout";
}


<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-7">
            <div class="card mt-5">
                 <div class="card-header"><h3 class="text-center font-weight-light my-4">Edit Profile</h3></div>
                <div class="card-body">
                    <form id="account" method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="row justify-content-between" style="margin-bottom: 10px;">
                            <div class="col-md-6">
                                @if (Model.Input.Avatar != null && Model.Input.Avatar.Length > 0)
                                {
                                    <img id="userAvatar" src="data:image/jpeg;base64,@Convert.ToBase64String(Model.Input.Avatar)" alt="User Avatar" style="max-width: 1550px; max-height: 150px;" />
                                }
                                else
                                {
                                    <img id="userAvatar" src="/_content/OpenCRM.Core.Web/images/defaultuser.png" alt="Default User Avatar" style="max-width: 1550px; max-height: 150px;" />
                                }

                                <div id="previewContainer" class="col-md-6" style="display: none;">
                                    <img id="preview" src="#" alt="Preview" style="max-width: 200px; max-height: 200px;" />
                                </div>

                            </div>
                                <div class="col-md-6">
                                    <label for="avatar">Avatar:</label>
                                    <input asp-for="uploadAvatar" type="file" id="avatar" name="uploadAvatar" accept="image/*" onchange="previewImage(event)" />
                                </div>

                      </div>

                        <div class="row justify-content-between" style="margin-top: 10px;">
                      <div class="col-md-6">
                            <div class="form-floating mb-3 mb-md-0">
                                <input asp-for="Input.Name" class="form-control" placeholder="Enter your first name" />
                                <label asp-for="Input.Name">First name</label>
                                <span asp-validation-for="Input.Name" class="text-danger"></span>
                            </div>
                      </div>

                     <div class="col-md-6">
                            <div class="form-floating">
                                <input asp-for="Input.Lastname" class="form-control" placeholder="Enter your last name" />
                                <label asp-for="Input.Lastname">Last name</label>
                                <span asp-validation-for="Input.Lastname" class="text-danger"></span>
                           </div>
                    </div>
                </div>
                        
                    <div class="form-group" style="margin-top: 10px;">
                    <button type="submit" class="btn btn-primary">Save</button>
                     <button class="btn bt-secundary" href="/">Cancel</button>
                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        function previewImage(event) {
            var input = event.target;
            var preview = document.getElementById('preview');
            var previewContainer = document.getElementById('previewContainer');
            var userAvatar = document.getElementById('userAvatar');

            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    userAvatar.style.display = 'none'; 
                    preview.src = e.target.result;
                    preview.style.display = 'block'; 
                    previewContainer.style.display = 'block'; 
                }

                reader.readAsDataURL(input.files[0]);
            } else {
                userAvatar.style.display = 'block'; 
                preview.src = '#';
                preview.style.display = 'none';
                previewContainer.style.display = 'none'; 
            }
        }


    </script>
}
