@page
@model OpenCRM.SwissLPD.Areas.SwissLDP.Pages.Supplier.RegisterModel
@{
}

<div class="container-fluid mt-3">
    <div class="row justify-content-center">
        <div class="card border-1 rounded-lg p-0">
            <div class="card-header"><h3 class="text-center font-weight-light my-4">Register Supplier</h3></div>
            <div class="card-body">
                <form method="post" class="d-flex flex-column align-items-center justify-content-center">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="w-100 form-floating mb-3">
                        <input asp-for="InputUser.Name" class="form-control" placeholder="Name" />
                        <label asp-for="InputUser.Name" class="control-label"></label>
                        <span asp-validation-for="InputUser.Name" class="text-danger"></span>
                    </div>
                    <div class="w-100 form-floating mb-3">
                        <input asp-for="InputRoleData.Address" class="form-control" placeholder="Address"/>
                        <label asp-for="InputRoleData.Address" class="control-label"></label>
                        <span asp-validation-for="InputRoleData.Address" class="text-danger"></span>
                    </div>
                    <div class="w-100 form-floating mb-3">
                        <input asp-for="InputUser.Email" class="form-control" placeholder="Email" />
                        <label asp-for="InputUser.Email" class="control-label"></label>
                        <span asp-validation-for="InputUser.Email" class="text-danger"></span>
                    </div>
                    <div class="w-100 form-floating mb-3">
                        <input asp-for="InputRoleData.Phone" class="form-control" placeholder="Phone"/>
                        <label asp-for="InputRoleData.Phone" class="control-label"></label>
                        <span asp-validation-for="InputRoleData.Phone" class="text-danger"></span>
                    </div>
                    <div class="w-100 form-floating mb-3">
                        <input asp-for="InputRoleData.Mobile" class="form-control" placeholder="Mobile" />
                        <label asp-for="InputRoleData.Mobile" class="control-label"></label>
                        <span asp-validation-for="InputRoleData.Mobile" class="text-danger"></span>
                    </div>
                    <div class="w-100 form-floating mb-3">
                        <input asp-for="InputRoleData.CHECode" class="form-control" placeholder="CHE IVA Code" />
                        <label asp-for="InputRoleData.CHECode" class="control-label"></label>
                        <span asp-validation-for="InputRoleData.CHECode" class="text-danger"></span>
                    </div>
                    <div class="w-100 form-floating mb-3">
                        <input asp-for="InputUser.Password" class="form-control" placeholder="Password" />
                        <label asp-for="InputUser.Password" class="control-label"></label>
                        <span asp-validation-for="InputUser.Password" class="text-danger"></span>
                    </div>
                    <div class="w-100 form-floating mb-3">
                        <input asp-for="InputUser.ConfirmPassword" class="form-control" placeholder="Confirm password" />
                        <label asp-for="InputUser.ConfirmPassword" class="control-label"></label>
                        <span asp-validation-for="InputUser.ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div class="w-100 mt-4 mb-0">
                        <div class="d-grid">
                            <input type="submit" value="Register" class="btn btn-primary btn-block" />
                        </div>
                    </div>

                    @if(Model.ValidateError != "")
                    {
                        <div class="mt-4">
                            <p class="text-danger fw-bold">
                                ! Error: @Model.ValidateError
                            </p>
                        </div>
                    }
                </form>
            </div>
        </div>
    </div>
</div>
