
@if (DescriptionModel.Text != null && DescriptionModel.Text != "")
{
	<p>@DescriptionModel.Text</p>
}

@if (DescriptionModel.ListItems != null && DescriptionModel.ListItems.Count() != 0)
{
	<p>
		<ul>
			@foreach (var item in DescriptionModel.ListItems)
			{
				<li>
					<ListDescriptionItems Text="@item.Text" Items="@item.Items"/>
				</li>
			}
		</ul>
	</p>
}

@code {
	[Parameter]
	public DescriptionModel DescriptionModel { get; set; } = new DescriptionModel();
}
