
<div>
	@if(Text != "")
	{
		<p>@Text</p>
	}

	@if(Items != null && Items.Count() != 0)
	{
		<ul>
			@foreach (var item in Items)
			{
				<li>
					<ListDescriptionItems Text="@item.Text" Items="@item.Items" />
				</li>
			}
		</ul>
	}
</div>

@code {
	[Parameter]
	public string Text { get; set; } = string.Empty;

	[Parameter]
	public List<DescriptionItem>? Items { get; set; }
}
