@page
@model OpenCRM.Core.Web.Pages.Identity.Logout.IndexModel
@{
    Layout = "_CoreEmptyLayout";
}

<h1>User logged out</h1>


<a class="btn btn-primary text-center ms-2" role="button" href="/Identity/Login">Go to Login Page</a>
<a class="btn btn-primary text-center ms-2" role="button" href="/">Go to Home Page</a>