@page
@model OpenCRM.Core.Web.Areas.Manage.Pages.DataBlock.DetailsModel
@{
}

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="card border-1 rounded-lg p-0">
            <div class="card-header"><h3 class="font-weight-light my-4 text-center">Details</h3></div>
            <div class="card-body">
                <form>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-floating mb-3">
                        <input asp-for="Model.Data.Code" class="form-control" readonly />
                        <label asp-for="Model.Data.Code" class="control-label"></label>
                        <span asp-validation-for="Model.Data.Code" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Model.Data.Title" class="form-control" readonly />
                        <label asp-for="Model.Data.Title" class="control-label"></label>
                        <span asp-validation-for="Model.Data.Title" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Model.Data.SubTitle" class="form-control" readonly />
                        <label asp-for="Model.Data.SubTitle" class="control-label"></label>
                        <span asp-validation-for="Model.Data.SubTitle" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Model.Data.Description" class="form-control" readonly />
                        <label asp-for="Model.Data.Description" class="control-label"></label>
                        <span asp-validation-for="Model.Data.Description" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <img src="Model.ImageUrl" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>