@page
@model OpenCRM.Core.Web.Areas.Manage.Pages.DataBlock.EditModel
@{
}

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="card border-1 rounded-lg p-0">
            <div class="card-header"><h3 class="text-center font-weight-light my-4">Edit</h3></div>
            <div class="card-body">
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-floating mb-3">
                        <input asp-for="Model.Title" class="form-control" />
                        <label asp-for="Model.Title" class="control-label"></label>
                        <span asp-validation-for="Model.Title" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Model.SubTitle" class="form-control" />
                        <label asp-for="Model.SubTitle" class="control-label"></label>
                        <span asp-validation-for="Model.SubTitle" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Model.Description" class="form-control" />
                        <label asp-for="Model.Description" class="control-label"></label>
                        <span asp-validation-for="Model.Description" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label for="formFile" class="form-label">Image</label>
                        <input asp-for="Model.Image" class="form-control" type="file" accept="image/*" id="formFile">
                    </div>
                    <div class="mt-4 mb-0">
                        <div class="d-grid">
                            <input type="submit" value="Save" class="btn btn-primary" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
