@page
@model OpenCRM.Core.Web.Areas.Manage.Pages.DataBlock.IndexModel
@{
}

<h1>Implement Blocks</h1>

<component type="typeof(OpenCRM.Core.Web.Components.Table.Table)" render-mode="ServerPrerendered" param-tableData="Model.Table" />