@page
@model OpenCRM.Core.Web.Areas.Manage.Pages.Translations.CreateModel
@{
    ViewData["Title"] = "Create";
}

<div class="container-fluid mt-3">
    <div class="row justify-content-center">
        <div class="card border-1 rounded-lg p-0">
            <div class="card-header"><h3 class="text-center font-weight-light my-4">Create Translation</h3></div>
            <div class="card-body">
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-floating mb-3">
                        <input asp-for="Translation.Key" class="form-control" placeholder="Key" />
                        <label asp-for="Translation.Key" class="control-label"></label>
                        <span asp-validation-for="Translation.Key" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Translation.Translation" class="form-control" placeholder="Translation"/>
                        <label asp-for="Translation.Translation" class="control-label"></label>
                        <span asp-validation-for="Translation.Translation" class="text-danger"></span>
                    </div>
                    
                    <select asp-for="Translation.LanguageId" asp-items="Model.Languages" class="form-select mb-3">
                        <option selected>Select a Language</option>                            
                    </select>
                    <span asp-validation-for="Translation.LanguageId" class="text-danger"></span>
                    
                    <div class="mt-4 mb-0">
                        <div class="d-grid">
                            <input type="submit" value="Create" class="btn btn-primary btn-block" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>