@page
@model OpenCRM.Core.Web.Areas.Manage.Pages.Translations.DetailsModel
@{
    ViewData["Title"] = "Details";
}

<div class="container-fluid mt-3">
    <div class="row justify-content-center">
        <div class="card border-1 rounded-lg p-0">
            <div class="card-header"><h3 class="font-weight-light my-4 text-center">Details</h3></div>
            <div class="card-body">
                <form>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>                   
                    <div class="form-floating mb-3">
                        <input asp-for="Key" class="form-control" readonly />
                        <label asp-for="Key" class="control-label"></label>
                        <span asp-validation-for="Key" class="text-danger"></span>
                    </div>

                    @for (int i = 0; i < Model.Translations.Count(); i++)
                    {
                        <div class="form-floating mb-3">
                            <input asp-for="@Model.Translations[i].Translation" class="form-control" readonly/>
                            <label asp-for="@Model.Translations[i].Translation" class="control-label">@Model.Translations[i].LanguageCode</label>
                            <span asp-validation-for="@Model.Translations[i].Translation" class="text-danger"></span>
                        </div>
                    }
                </form>
            </div>
        </div>
    </div>
</div>