@page
@model OpenCRM.SwissLPD.Areas.SwissLDP.Pages.IndexModel
@{
    Layout = "_CoreLayout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>OpenCRM SwissLDP Module</title>
</head>
<body>
    <h1>Implement SwissLDP module here</h1>

    <h3>Using here the OpenCRM.Core.Web Demo Component: </h3>
    <component type="typeof(OpenCRM.Core.Web.Components.DemoComponent)" render-mode="ServerPrerendered" param-label='"Refresh and count"' />

</body>
</html>
